@model Clinic_System.Models.Procedure

@{
    ViewData["Title"] = "Create";
}

<h2>Create Procedure</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientID" class="control-label">Patient Name</label>
                <select asp-for="PatientID" class="form-control" asp-items="ViewBag.PatientID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PractitionerID" class="control-label">Practitioner Name</label>
                <select asp-for="PractitionerID" class="form-control" asp-items="ViewBag.PractitionerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProcedureDate" class="control-label">Procedure Date</label>
                <input asp-for="ProcedureDate" class="form-control" />
                <span asp-validation-for="ProcedureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication" class="control-label">Medication</label>
                <input asp-for="Medication" class="form-control" />
                <span asp-validation-for="Medication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="followupDate" class="control-label">Follow up Date</label>
                <input asp-for="followupDate" class="form-control" />
                <span asp-validation-for="followupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complication" class="control-label">Complication</label>
                <input asp-for="Complication" class="form-control" />
                <span asp-validation-for="Complication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcedureUsed" class="control-label">Procedure used</label>
                <input asp-for="ProcedureUsed" class="form-control" />
                <span asp-validation-for="ProcedureUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
