@model Clinic_System.Models.Procedure

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Procedure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProcedureID" />
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                <input asp-for="PatientID" class="form-control" />
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PractitionerID" class="control-label"></label>
                <input asp-for="PractitionerID" class="form-control" />
                <span asp-validation-for="PractitionerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcedureDate" class="control-label"></label>
                <input asp-for="ProcedureDate" class="form-control" />
                <span asp-validation-for="ProcedureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication" class="control-label"></label>
                <input asp-for="Medication" class="form-control" />
                <span asp-validation-for="Medication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="followupDate" class="control-label"></label>
                <input asp-for="followupDate" class="form-control" />
                <span asp-validation-for="followupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complication" class="control-label"></label>
                <input asp-for="Complication" class="form-control" />
                <span asp-validation-for="Complication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcedureUsed" class="control-label"></label>
                <input asp-for="ProcedureUsed" class="form-control" />
                <span asp-validation-for="ProcedureUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
